.gameitem-card{
    height: 20rem;
    width: 15rem;
    margin: 1.5rem 0rem;
    position: relative;
    border-radius: 12px;
    outline: solid 1px #495a74;
    transition: all 0.6s cubic-bezier(0,.7,0.5,1);
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 4px 16px;
    overflow: hidden;
}

.gameitem-card:hover{
    transform: scale(1.025);
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 1) 0px 8px 36px;
    cursor: pointer;
}

.gameitem-card:hover .gameitem-content > p:last-child {
    opacity: 1;
  }
  .gameitem-content > p:last-child {
    opacity: 0;
    transition: all 0.4s cubic-bezier(0,.7,0.5,1);
  }

.gameitem-image{
    height: 20rem;
    object-fit: cover;
    border-radius: 12px;
    transition: all 0.4s cubic-bezier(0,.7,0.5,1);    
}

.gameitem-rating {
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  background-color: #33415594;
}

.gameitem-status {
  position: absolute;
  top: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  background-color: #33415594;
}

.gameitem-content{
    padding: 0.5rem 1rem;
    width: inherit;
    position: absolute;
    bottom: -1.5rem;
    background-color: #33415594;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    transition: all 0.4s cubic-bezier(0,.7,0.5,1);
}

.gameitem-card:hover > .gameitem-content{
    bottom: 0rem;
    backdrop-filter: blur(3px);
    background-color: #334155b2;
}

.gameitem-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 1280px; 
  z-index: 60;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 8px 24px;
  border-radius: 16px;
  padding: 2rem;
  height: 90%;
  }

  .gameitem-modal-backdrop {
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px); 
    position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  transition: background-color 0.4s cubic-bezier(0,.7,0.5,1);
  }

  .gameitem-modal-backdrop.backdrop-visible {
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px); 
  }

  
@media screen and (max-width: 639px) {
  .gameitem-card {
    width: 90vw;
    height: 8rem;
    margin: 0.5rem 0rem;
  }
  .gameitem-image{
    height: 8rem;
    border-radius: 0px;
    border-right: 1px solid #495a74;
  }
  .gameitem-content{
    background-color: transparent;
    margin-left: 120px;
    text-align: start;
    font-size: 1.25rem;
    top: 0rem;
}
}

@media screen and (min-width: 1280px){
  .gamegrid{
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (min-width: 2000px){
  .gamegrid{
    grid-template-columns: repeat(6, 1fr);
    padding-left: 0rem;
    padding-right: 0rem;
  }
}

.activeLink {
  border: none;
  background-color: #ef4444;
}

.activeLink:hover {
  background-color: #dc2626;
}